<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Xác nhận email</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <div class="alert alert-info text-center">
        <h2>Đổi mật khẩu</h2>
        <p>Chúng tôi đã gửi một email xác nhận đến email của bạn. Vui lòng kiểm tra email để thay đổi mật khẩu của bạn.</p>
        <p><a th:href="@{/login}" class="btn btn-primary">Quay lại trang đăng nhập</a></p>
    </div>
</div>
</body>
</html>
